.navbar {
    padding: 1rem 1.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--gray-color-lightest);

    &__side {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1rem;
        app-navbar-search {
            flex-basis: 28rem;
        }
        app-navbar-toggle-list {
            display: none;
        }

        &--left,
        &--right {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        &--right {
            margin-inline-start: auto;
        }
    }

    .circle {
        height: 5rem;
        width: 5rem;
        border-radius: 100rem;
        background-color: red;
    }
    &__search-box {
        width: 27rem !important;
    }
}

@media (width <= 992px) {
    .navbar {
        &__side {
            app-navbar-toggle-list {
                display: unset;
            }

            &--left {
                display: none;
            }
        }
    }
}
