.navbar {
    padding: 1rem 1.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    &__logo {
    }

    &__side {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1rem;
        &--right {
            margin-inline-start: auto;
            display: flex;
            gap: 1rem;
        }
    }

    .circle {
        height: 5rem;
        width: 5rem;
        border-radius: 100rem;
        background-color: red;
    }
    &__search-box {
        width: 27rem !important;
    }
}
