.information {
    background-color: var(--gray-color-lightest);
    box-shadow: var(--box-shadow-down);
    padding-block: 2.4rem;
    &__container {
        display: flex;
        justify-content: space-between;
    }
}
