<div class="product">
    <div
        class="product__image"
        (mousedown)="storeMousedownLocation($event)"
        (mouseup)="checkValidRouteAndNavigate($event, 1)"
    >
        <img [src]="productItem.image" [alt]="productItem.title" />
    </div>
    <div class="product__description">
        <h4 (mousedown)="storeMousedownLocation($event)" (mouseup)="checkValidRouteAndNavigate($event, 1)">
            {{ productItem.title }}
        </h4>
        <div class="product__info">
            <div class="product__time">
                <app-dynamic-icon iconShape="clock"> </app-dynamic-icon>
                <span>{{ productItem.time | convertTime }}</span>
            </div>
            <app-level-svg [level]="productItem.level">
                {{ productItem.level }}
            </app-level-svg>
        </div>
        <app-rating [rateObj]="productItem.rate"></app-rating>
    </div>
    <div class="product__footer">
        <div class="product__teacher">
            <img [src]="productItem.teacher.image" [alt]="productItem.teacher.name" />
            <span>{{ productItem.teacher.name }}</span>
        </div>
        <app-tooltip tooltipText="Add to Bookmarks">
            <app-dynamic-icon iconShape="bookmark"></app-dynamic-icon>
        </app-tooltip>
    </div>
</div>
