<div class="product">
    <div class="product__image">
        <img [src]="productItem.image" [alt]="productItem.title" />
    </div>
    <div class="product__description">
        <h4>{{ productItem.title }}</h4>
        <div class="product__info">
            <div class="product__time">{{ productItem.time }}</div>
            <div class="product__level">{{ productItem.level }}</div>
        </div>
        <div class="product__rate">{{ productItem.rate.averageRate }}</div>
    </div>
    <div class="product__footer">
        <div class="product__teacher">
            <img [src]="productItem.teacher.image" [alt]="productItem.teacher.name" />
            <span>{{ productItem.teacher.name }}</span>
        </div>
        <div class="bookmark"></div>
    </div>
</div>
