@mixin create-button-style($color, $bgColor, $borderColor) {
    color: $color;
    background-color: $bgColor;
    border: 1px solid $borderColor;
}
@mixin create-button-hover-style($colorHover, $backgroundHoverColor, $borderHoverColor) {
    color: $colorHover;
    background-color: $backgroundHoverColor;
    border-color: $borderHoverColor;
}

.button {
    @include create-button-style(var(--color), var(--backgroundColor), var(--borderColor));
    display: inline-block;
    padding: calc(1.6rem * var(--multiple)) calc(2rem * var(--multiple));
    font-weight: 600;
    border-radius: var(--border-radius);
    width: auto;
    text-transform: capitalize;
    transition: 300ms ease;
    transition-property: box-shadow, color, background-color, border-color;

    &.full-width {
        width: 100%;
    }
    &:active {
        box-shadow: var(--button-box-shadow);
    }
    &:hover,
    &:active {
        @include create-button-hover-style(var(--colorHover), var(--backgroundHoverColor), var(--borderHoverColor));
    }
}
