<div class="product">
    <div class="container product__container">
        <div>
            <h1>{{ productInfo.title }}</h1>
            <p>
                {{ productInfo.summary }}
            </p>
            <div class="product__labels">
                <app-tooltip tooltipText="Add to Bookmarks">
                    <div class="bookmark">
                        <app-dynamic-icon iconShape="bookmark"></app-dynamic-icon>
                        <span>Bookmark</span>
                    </div>
                </app-tooltip>
                <div class="members">
                    <app-dynamic-icon iconShape="user" iconColor="var(--gray-color-dark)"></app-dynamic-icon>
                    <span>{{ productInfo.enrolledNumber }}</span>
                    Enrolled
                </div>
                <app-rating
                    [rateShown]="false"
                    countSize="var(--font-size-paragraph)"
                    [rateObj]="productInfo.rate"
                ></app-rating>
                <app-level-svg fillColor="var(--gray-color-normal)">{{ productInfo.level }}</app-level-svg>
            </div>
        </div>
    </div>
</div>
