<div class="product">
    <div class="container product__container">
        <div>
            <h1>Getting Started with JavaScript</h1>
            <p>
                JavaScript is the popular programming language which powers web pages and web applications. This course
                will get you started coding in JavaScript.
            </p>
            <div class="product__labels">
                <app-tooltip tooltipText="Add to Bookmarks">
                    <div class="bookmark">
                        <app-dynamic-icon iconShape="bookmark"></app-dynamic-icon>
                        <span>Bookmark</span>
                    </div>
                </app-tooltip>
                <div class="members">
                    <app-dynamic-icon iconShape="user" iconColor="var(--gray-color-dark)"></app-dynamic-icon>
                    <span>1200</span>
                    Enrolled
                </div>
                <app-rating [rateShown]="false" countSize="var(--font-size-paragraph)" [rateObj]="rateObj"></app-rating>
                <app-level-svg fillColor="var(--gray-color-normal)">Intermediate</app-level-svg>
            </div>
        </div>
    </div>
</div>
