.information__icon {
    color: var(--color);
    i {
        font-size: var(--size);
    }

    &.circleBg {
        border-radius: 100rem;
        background-color: var(--backgroundColor);
        position: relative;
        width: calc(var(--size) * 3);
        height: calc(var(--size) * 3);
        i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
