<div class="hero">
    <div class="container hero__container">
        <div class="hero__description">
            <h1>Welcome to Geeks UI Learning Application</h1>

            <p>
                Hand-picked Instructor and expertly crafted courses, designed for the modern students and entrepreneur.
            </p>

            <div class="hero__buttons">
                <app-dynamic-button
                    buttonColor="var(--gray-color-lightest)"
                    buttonBackgroundColor="var(--tertiary-color-normal)"
                    buttonBackgroundHoverColor="var(--tertiary-color-dark)"
                    label="Browse Courses?"
                ></app-dynamic-button>
                <app-dynamic-button
                    buttonColor="var(--primary-color-darker)"
                    buttonBackgroundColor="var(--gray-color-lightest)"
                    label="Are You Instructor?"
                ></app-dynamic-button>
            </div>
        </div>

        <div class="hero__image">
            <img src="https://codescandy.com/geeks-bootstrap-5/assets/images/hero/hero-img.png" alt="a laughing man" />
        </div>
    </div>
</div>
